@charset 'utf-8';
@import url('font/notosanskr/NotoSansKR.css');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline-style: none;
}
a {
  text-decoration: none;
  color: blueviolet;
}
img {
  vertical-align: middle;
  border: 0;
}
ul,
li {
  list-style: none;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
em{
  font-style: normal;
}
i{
  display: inline-block;
}
html {
  font-size: 10px;
}
body{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  width: 100%;
  letter-spacing: 0;
}
/* ----------------------- */
.page-remote{
  position: fixed;
  top: 355px;
  right: 190px;
  width: 40px;
  height: 220px;
  background: goldenrod;
  z-index: 999;
}

/* ----------------------- */
.wrap{
  position: relative;
  display: block;
}
.page-container{
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.button-more{
  display: block;
  width: 35px;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: url('../images/icon/plus_1.png') no-repeat center;
  background-size: 70%;
  cursor: pointer;
}
/* sns button container */
.contents-links{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.contents-links a{
  display: block;
  width: 52px;
  height: 52px;
  margin: 0 5px;
  background-repeat: no-repeat;
  background-position: center;
}
.contents-links .contents-links-facebook{
  background: url('../images/icon/main_sns_f.png');
}
.contents-links .contents-links-twitter{
  background: url('../images/icon/main_sns_t.png');
}
.contents-links .contents-links-link{
  background: url('../images/icon/main_sns_u.png');
}
/* ---------------------- */

/* banner-top */
.banner-top{
  position: relative;
  display: block;
  background: #5F7487;
}
.banner-top .page-container{
  height: 130px;
}
.banner-top-navigation{
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  cursor: pointer;
}
.banner-top-navigation div{
  width: 50px;
  height: 100%;
}
.swp-button-next-top-banner{
  background: url('../images/banner/arrow_next_1.png') no-repeat center;
}
.swp-button-prev-top-banner{
  background: url('../images/banner/arrow_prev_1.png') no-repeat center;
}
.swp-banner-top-pagination{
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 30px;
  padding: 5px 0;
  z-index: 9;
}
.swp-banner-top-pagination .swiper-pagination-bullet{
  width: 8px;
  height: 8px;
  margin: 10px 3px;
  background: rgba(255, 255, 255, 0.5);
}
.swp-banner-top{
  width: 1050px;
  height: 100%;
}
.swp-banner-top .swiper-slide a{
  display: block;
  height: 95px;
  margin-top: 5px;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-top-1{
  background: url('../images/banner/top_banner_1.jpg');
}
.banner-top-2{
  background: url('../images/banner/top_banner_2.jpg');
}
.banner-top-3{
  background: url('../images/banner/top_banner_3.jpg');
}
.banner-top-4{
  background: url('../images/banner/top_banner_4.jpg');
}
.banner-top-5{
  background: url('../images/banner/top_banner_5.jpg');
}
.banner-top-check{
  position: absolute;
  bottom: 8px;
  right: 0;
  display: block;
  z-index: 9;
}
.banner-top-check label{
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.7);
}

/* header */
/* header-top */
.header{
  position: relative;
  z-index: 999;
}

.header-top{
  background: #012340;
}
.header-top .page-container{
  display: flex;
  justify-content: space-between;
  height: 40px;
  z-index: 99;
}
.header-top .page-container > ul{
  display: flex;
  align-items: center;
}
.header-top .page-container ul li:hover{
  background: rgba(95, 116, 135, 0.9);
  transition: background 0.3s;
}
.header-top .page-container ul li{
  position: relative;
  display: block;
  height: 100%;
  border-left: 1px solid rgba(95, 116, 135, 0.9);
}
.header-top .page-container ul li:last-child{
  border-right: 1px solid rgba(95, 116, 135, 0.9);
}
.header-top .page-container ul li a{
  font-size: 1.4rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.9);
}

.header-top-left li{
  padding: 13.5px;
}
.header-top-left li a i{
  padding-left: 5px;
}

.language{
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
  font-size: 1.4rem;
  text-align: center;
  background: #012340;
}
.header-top-right li{
  width: 43px;
  height: 40px;
}
.header-top-right button{
  display: block;
  width: 4.2rem;
  height: 4rem;
  cursor: pointer;
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-header-1{
  background: url('../images/icon/icon_search.png');
}
.icon-header-banner{
  background: url('../images/icon/icon_notice.png');
}
.icon-focused{
  background-color: rgba(95, 116, 135, 0.9);
  transition: background .3s;
}
.icon-header-3{
  background: url('../images/icon/icon_totalNav.png');
}
/* header-bottom */
.header-bottom{
  background: white;
  box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.05);
}
.header-bottom .page-container{
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.header-bottom .h-logo{
  display: block;
  width: 150px;
  height: 60px;
  background: url('../images/logo.png') no-repeat center;
}
.header-bottom nav{
  display: flex;
  height: 100%;
}
.header-bottom nav .depth1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 920px;
  height: 100%;
}
.header-bottom nav .depth1 li a{
  position: relative;
  display: block;
  padding: 20px 20px;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
}
.header-bottom nav .depth1 li a::after{
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 0%;
  height: 2.5px;
  background: rgba(95, 116, 135, 0.8);
}
.header-bottom nav .depth1 li:hover a::after{
  width: 60%;
  transition: width 0.3s;
}
.user-menu{
  display: flex;
  align-items: center;
  width: 130px;
  height: 100%;
  padding: 0px 10px;
  background: #0092DD;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
}
.user-menu:hover{
  background: rgba(95, 116, 135, 0.9);
  transition: background 0.5s;
}
.user-menu .icon-user-menu{
  width: 30px;
  height: 28px;
  background: url('../images/icon/icon_userMenu.png') no-repeat center;
}

/* banner-main */
.banner-main{
  position: relative;
  width: 100%;
  height: 660px;
  background: url('../images/banner/mainvisual_1.jpg') no-repeat center;
  background-size: cover;
}
.banner-main .swp-banner-main{
  position: relative;
  width: 1100px;
  height: 480px;  
  padding: 60px 0;
}
.swp-banner-main-control{
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}
.swp-banner-main-pagination .swiper-pagination-bullet{
  width: 13px;
  height: 13px;
  margin: 0 .3em;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.9);
  opacity: .5;
}
.swp-banner-main-pagination .swiper-pagination-bullet-active{
  width: 4rem;
  opacity: 1;
}
.swp-banner-main-control .icon-pause{
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  margin-left: 1em;
  font-size: 1.4rem;
  line-height: 0;
  color: white;
}
.swp-banner-main-control .icon-play{
  font-size: 1.4rem;
  color: white;
}
.swp-banner-main .swiper-wrapper{
  width: 110rem;
}
.swp-banner-main .swiper-slide{
  position: relative;
}
.swp-banner-main-text-box{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 505px;
  height: 285px;
  padding: 30px 20px 20px 35px;
  border: 8px solid #0092DD;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9;
}
.swp-banner-main-text-box *{
  display: block;
  color: white;
}
.swp-banner-main-text-box span{
  font-size: 1.6rem;
  color: #7dc2fc;
}
.swp-banner-main .swp-banner-main-text-box h4{
  height: 70px;
  font-size: 3rem;
  font-weight: 500;
  margin: 20px 0;
  line-height: 1.2;
}
.swp-banner-main .swp-banner-main-text-box p{
  display: block;
  font-size: 1.6rem;
  font-weight: 100;
  opacity: 0.9;
}
.swp-banner-main-text-box a{
  position: absolute;
  right: 18px;
  bottom: 12px;
  text-align: right;
  display: flex;
  height: 20px;
}
.swp-banner-main .swiper-slide img{
  position: absolute;
  right: 0;
  display: block;
}

/* inha-community */
.inhacommu{
  position: relative;
  margin-top: -130px;
}
.inhacommu .page-container{
  display: flex;
  height: 312px;
  background: url('../images/bbs_bg.png') no-repeat center;
}
.inhacommu-wrapper{
  display: block;
  width: 50%;
  padding: 0 20px 35px 20px;
}
.inhacommu-wrapper h5{
  display: flex;
  justify-content: space-between;
  font-size: 2.6rem;
  font-weight: normal;
  padding: 35px 0 25px 0;
  color: white;
}
.inhacommu-wrapper h5 .button-more:hover{
  border: 1px solid rgba(255, 255, 255, 1);
  transition: border .3s;
}
.inhacommu-wrapper .inhacommu-contents{
  position: relative;
  display: flex;
  height: 180px;
}
.inhacommu-wrapper .inhacommu-contents img{
  position: relative;
  display: block;
  width: 270px;
  object-fit: cover;
}
.inhacommu-wrapper .inhacommu-contents .contents-links{
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: 100%;
  opacity: 0;
}
.inhacommu-wrapper .inhacommu-contents:hover .contents-links{
  opacity: 1;
  transition: opacity .4s;
}
.inhacommu-wrapper .inhacommu-contents .inhacommu-contents-text{
  width: 310px;
  padding: 0 15px 0 25px;
  color: white;
  cursor: pointer;
}
.inhacommu-wrapper .inhacommu-contents .inhacommu-contents-text h6{
  font-size: 2.2rem;
  font-weight: normal;
  line-height: 1.2;
  padding-bottom: 20px;
}
.inhacommu-wrapper .inhacommu-contents .inhacommu-contents-text p{
  display: block;
  height: 60px;
  font-size: 1.3rem;
  font-weight: 200;
  line-height: 1.6;
  margin-bottom: 20px;
  overflow: hidden;
  opacity: 0.6;
}
.button-read-more{
  display: block;
  width: 100px;
  height: 25px;
  padding: 5px 10px;
  font-size: 1.2rem;
  color: white;
  background: url('../images/icon/more_2.png') no-repeat;
  background-size: contain;
}
.inhacommu-wrapper:hover .inhacommu-contents-text p{
  opacity: 1;
  transition: opacity ease-in 0.1s;
}
.inhacommu-wrapper:hover .button-read-more{
  color: rgba(0, 0, 0, 0.7);
}
.inhacommu-wrapper img::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0.3);
}

/* notices */
.notices{
  background: url('../images/news_bg.png') no-repeat;
  background-size: cover;
}
.notices .page-container{
  display: flex;
  height: 430px;
}
.notices-left{
  display: block;
  width: 230px;
}
.notices-left ul{
  padding-top: 65px;
}
.notices-left ul li a{
  position: relative;
  display: block;
  height: 80px;
  padding-top: 10px;
  font-size: 2.2rem;
  color: grey;
}
.notices-left ul li .button-focused{
  font-size: 3rem;
  color: #0092DD;
}
.notices-left ul li .button-focused::after{
  content: '';
  position: absolute;
  bottom: 0px;
  left: 40%;
  width: 75px;
  height: 25px;
  background: url('../images/bbs_more.png') no-repeat;
}
.notices-right{
  width: 970px;
}
.notices-right .notices-sub-nav{
  height: 65px;
  padding-top: 40px;
}
.notices-right .notices-sub-nav ul{
  display: flex;
}
.notices-right .notices-sub-nav ul li a{
  position: relative;
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0 30px 10px 0px;
  color: grey;
}
.notices-right .notices-sub-nav ul li .sub-button-focused{
  color: #0092DD;
  transition: all .3s;
}
.notices-right .notices-sub-nav ul li .sub-button-focused::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2.5px;
  background: #0092DD;
}
.notices-contents{
  display: flex;
  flex-wrap: wrap;
}
.notices-contents .notices-contents-link{
  position: relative;
  display: block;
  width: 310px;
  height: 150px;
  margin-right: 20px;
  margin-top: 15px;
  padding: 35px 20px 20px 20px;
  color: grey;
}
.notices-contents .notices-contents-link::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.notices-contents .notices-contents-link::after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 45px;
  height: 45px;
  background: #0092DD url('../images/icon/plus_2.png') no-repeat center;
  transform: scale(0, 0);
  transform-origin: center;
}
.notices-contents .notices-contents-link:hover::after{
  transform: scale(1, 1);
  transition: all .3s;
}
.notices-contents .notices-contents-link:hover::before{
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  border: 6px solid #0092DD;
  transition: all ease-in 0.1s;
}
.notices-contents-link:nth-child(3n) {
  margin-right: 0;
}
.notices-contents-link .notices-contents-tit{
  height: 60%;
  padding-bottom: 3.5rem;
  font-size: 1.4rem;
  line-height: 1.4;
  word-break: break-all;
}
.notices-contents-link .notices-contents-date{
  font-size: 1.2rem;
}

/* banner-middle */
.banner-middle{
  position: relative;
  width: 100%;
  height: 240px;
}
.swp-banner-middle{
  height: 240px;
}
.swp-banner-middle .swiper-slide a{
  display: block;
  width: 100%;
  height: 100%;
}
.swp-banner-middle-1{
  background: url('../images/banner/middle_banner_1.jpg') no-repeat center;
}
.swp-banner-middle-2{
  background: url('../images/banner/middle_banner_2.jpg') no-repeat center;
}
.swp-banner-middle-3{
  background: url('../images/banner/middle_banner_3.jpg') no-repeat center;
}
.banner-middle .page-container{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  z-index: 9;
}
.banner-middle .page-container div{
  width: 100px;
  height: 20px;
  cursor: pointer;
}
.swp-button-next-middle-banner{
  background: url('../images/banner/arrow_next_4.png') no-repeat center;
}
.swp-button-prev-middle-banner{
  background: url('../images/banner/arrow_prev_4.png') no-repeat center;
}

/* inha-schedule */
.schedule{
  position: relative;
  width: 100%;
  background: url('../images/news_bg.png') no-repeat bottom;
  background-size: cover;
}
.schedule .page-container{
  display: flex;
  height: 300px;
  margin-top: -70px;
  z-index: 9;
}
/* inha schedule calender */
.schedule-calender{
  position: relative;
  width: 560px;
  height: 100%;
  padding: 40px 18px 25px 17px;
  background: #E3F5FA;
}
.schedule-calender::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-5px, -5px);
  display: block;
  width: 60px;
  height: 60px;
  border-left: 10px solid #0066B3;
  border-top: 10px solid #0066B3;
}
.button-calender-more{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(5px, -5px);
  display: block;
  width: 60px;
  height: 60px;
  background: #0066B3 url('../images/icon/plus_2.png') no-repeat center;
}
.button-calender-more:hover{
  background: #5F7487 url('../images/icon/plus_2.png') no-repeat center;
  transition: background .3s;
}
.calender-tit{
  height: 90px;
}
.calender-tit h6{
  padding-left: 20px;
  font-size: 2.4rem;
  font-weight: 200;
  color: #012340;
}
.calender-tit .schedule-date{
  display: block;
  margin: 16px 0;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 500;
  color: #0066B3;
}
.calender-content{
  height: 145px;
  padding-left: 20px;
}
.calender-content ol li{
  height: 35px;
  padding-top: 4px;
  font-weight: 600;
}
.calender-content ol li .content-date{
  display: inline-block;
  width: 120px;
  height: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;  
  padding: 5px 0;
  border: 1px solid rgba(113, 178, 227, 1);
  color: rgba(113, 178, 227, 1);
}
.calender-content ol li a{
  position: relative;
  display: inline-block;
  width: 370px;
  height: 15px;
  margin-left: 10px;
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}
.calender-content ol li a:hover{
  color: #0092DD;
  transition: color .3s;
}
.calender-content ol li a p{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.calender-content ol li a::after{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(0, 146, 221, 0.0);
}
.calender-content ol li a:hover::after{
  background: rgba(0, 146, 221, 1);
  transition: background .3s;
}
/* inha schedule event */
.schedule-event{
  position: relative;
  width: 360px;
  height: 100%;
  padding: 25px 17px 0 18px;
  margin-left: 15px;
  background: rgba(0, 102, 179, 1);
}
.schedule-event-tit{
  display: flex;
  justify-content: space-between;
  height: 25px;
  margin-bottom: 10px; 
}
.schedule-event-tit h6{
  font-size: 2.2rem;
  font-weight: 300;
  color: white;
}
.schedule-event-tit .swp-sch-event-controller{
  display: flex;
  width: 55px;
  height: 25px;
}
.schedule-event-tit button{
  display: inline-block;
  width: 50%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, .8);
}
.schedule-event-tit button:hover{
  background-color: rgba(255, 255, 255, .3);
  transition: background .2s;
}
.schedule-event-tit .swp-button-schedule-next{
  background: url('../images/icon/arrow_next_2.png') no-repeat center;
}
.schedule-event-tit .swp-button-schedule-prev{
  background: url('../images/icon/arrow_prev_2.png') no-repeat center;
}
.schedule-event-content{
  position: relative;
  width: 325px;
  height: 230px;
}
.swp-sch-event .swiper-slide{
  position: relative;
}
.swp-sch-event .swiper-slide img{
  position: relative;
  width: 100%;
  height: 145px;
  object-fit: cover;
  object-position: top;
}
.swp-sch-event .contents-links{
  position: absolute;
  top: 0;
  left: 0;
  height: 155px;
  opacity: 0;
}
.swp-sch-event .swiper-slide:hover .contents-links{
  opacity: 1;
  transition: opacity .3s;
}
.swp-sch-event .swiper-slide a:hover p{
  color: rgba(255, 255, 255, 1);
  transition: color .2s;
}
.swp-sch-event .swiper-slide > a{
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(0, 102, 179, 1);
}
.swp-sch-event .swiper-slide .event-content-tit{
  display: block;
  font-size: 1.6rem;
  padding: 15px 0 9px 0;
  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.swp-sch-event .swiper-slide p{
  display: block;
  height: 35px;
  font-size: 1.4rem;
  font-weight: lighter;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
}
/* inha schedule buttons */
.schedule-buttons{
  position: relative;
  width: 265px;
  height: 100%;
}
.schedule-buttons a{
  display: flex;
  width: 100%;
  height: 50%;
  padding: 25px 20px 15px 20px;
  color: black;
}
.schedule-buttons a i{
  display: block;
  width: 95px;
  height: 110px;
}
.schedule-buttons a:hover i{
  transform: rotate3d(0, 1, 0, 1turn);
  transition: transform ease-in-out .8s;
}
.schedule-buttons a div{
  width: 130px;
  height: 110px;
  padding: 30px 0 30px 20px;
  text-align: left;
  white-space: wrap;
}
.schedule-buttons a div h4{
  font-weight: 200;
  font-size: 2.2rem;
  padding: 5px 0;
}
.schedule-buttons .sch-fund{
  background: url('../images/bg/mainFund_1_bg.png') no-repeat;
}
.schedule-buttons .sch-fund .sch-fund-text-box span{
  font-size: 2.2rem;
  color: grey;
}
.schedule-buttons .sch-fund .icon-fund{
  background: url('../images/icon/mainFund_1.png') no-repeat center;
}
.schedule-buttons .sch-coop{
  background: url('../images/bg/mainFund_2_bg.png') no-repeat;
}
.schedule-buttons .sch-coop .sch-coop-text-box span{
  font-size: 1.1rem;
  font-weight: 200;
}
.schedule-buttons .sch-coop .icon-coop{
  background: url('../images/icon/mainFund_2.png') no-repeat center;
}
/* inha-news */
.inhanews{
  position: relative;
  width: 100%;
  background: #f5f8ff;
  z-index: 0;
}
.inhanews .page-container{
  display: flex;
  flex-wrap: wrap;
  height: 865px;
  padding: 95px 0;
}
/* inhanews top */
.inhanews-top{
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: flex-end;
}
/* inhanews top hot */
.inhanews-hot{
  position: relative;
  display: flex;
  width: 690px;
  height: 375px;
  padding: 55px 0 0px 20px;
  background: #0092DD;
}
.inhanews-hot::after{
  content: '';
  position: absolute;
  top: -25px;
  right: -30px;
  width: 140px;
  height: 150px;
  border: 6px solid #0066B3;
  z-index: -9;
}
.inhanews-hot-img{
  position: relative;
  width: 360px;
  height: 240px;
}
.inhanews-hot-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.inhanews-hot-img .contents-links{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0;
}
.inhanews-hot-img:hover .contents-links{
  opacity: 1;
  transition: opacity ease-in .3s;
}
.inhanews-hot .textbox{
  display: flex;
  flex-flow: column nowrap;
  display: block;
  width: 290px;
  padding-right: 10px;
  margin-left: 10px;
  font-weight: 200;
  color: white;
}
.inhanews-hot .textbox .button-read-more{
  height: 35px;
  align-self: flex-end;
  margin-top: 15px;
  padding: 10px 10px;
}
.inhanews-hot .button-read-more:hover{
  color: rgba(0, 0, 0, 0.7);
}
.inhanews-hot .textbox h4{
  font-size: 3rem;
  font-weight: 300;
  padding-bottom: 30px;
}
.inhanews-hot .textbox .textbox-tit{
  display: block;
  font-size: 2.2rem;
  line-height: 1.2;
  padding-bottom: 15px;
}
.inhanews-hot .textbox .textbox-content{
  display: block;
  font-size: 1.6rem;
  line-height: 1.4;
}
.inhanews-hot .button-read-more{
  display: block;
}
/* inhanews top newsletter */
.inhanews-newsletter{
  display: flex;
  width: 475px;
  height: 235px;
  background: white;
}
.inhanews-newsletter-left{
  width: 260px;
}
.inhanews-newsletter-left img{
  width: 100%;
  height: 100%;
  object-fit: cover ;
}
.inhanews-newsletter-right{
  width: 215px;
  padding: 20px 0 0 25px;
}
.inhanews-newsletter-right h5{
  font-size: 3rem;
  font-weight: 200;
  padding-bottom: 20px;
  line-height: 1.2;
}
.inhanews-newsletter-right ol li a{
  display: block;
  position: relative;
  padding-bottom: 15px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.6rem;
  font-weight: 300;
}
.inhanews-newsletter-right ol li a:hover::after{
  border-bottom: 2px dotted rgba(0, 0, 0, 0.7);
}
.inhanews-newsletter-right ol li a::after{
  content: '';
  position: absolute;
  top: 5px;
  right: 25%;
  display: block;
  width: 20%;
  height: 2px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}
.inhanews-newsletter-right ol li a::before{
  content: '+';
  position: absolute;
  top: 0;
  right: 10%;
  display: block;
  width: 10px;
  height: 5px;
  font-weight: 100;
}

.inhanews-bottom{
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}
.inhanews-coop{
  width: 695px;
  height: 275px;
}
.inhanews-coop-tit{
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}
.inhanews-coop-tit strong{
  font-size: 2.4rem;
  font-weight: 300;
}
.inhanews-coop-tit .inhanews-coop-controller{
  width: 75px;
  height: 35px;
}
.inhanews-coop-tit .inhanews-coop-controller div{
  display: inline-block;
  width: 35px;
  height: 100%;
  cursor: pointer;
}
.inhanews-coop-tit .inhanews-coop-controller .swp-inhanews-coop-next{
  background: rgba(0, 0, 0, .3) url('../images/icon/arrow_next_2.png') no-repeat center;
}
.inhanews-coop-tit .inhanews-coop-controller .swp-inhanews-coop-next:hover{
  transition: all .3s;
  background: rgba(0, 0, 0, .5) url('../images/icon/arrow_next_2.png') no-repeat center;
}
.inhanews-coop-tit .inhanews-coop-controller .swp-inhanews-coop-prev{
  background: rgba(0, 0, 0, .3) url('../images/icon/arrow_prev_2.png') no-repeat center;
}
.inhanews-coop-tit .inhanews-coop-controller .swp-inhanews-coop-prev:hover{
  transition: all .3s;
  background: rgba(0, 0, 0, .5) url('../images/icon/arrow_prev_2.png') no-repeat center;
}
.swp-inhanews-coop{
  width: 100%;
  height: 215px;
}
.swp-inhanews-coop .swiper-slide{
  width: 695px;
  position: relative;
  display: block;
}
.swp-inhanews-coop .swiper-slide:hover .textbox{
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 00%, rgba(255, 255, 255, 1) 15%);
}
.swp-inhanews-coop .swiper-slide img{
  width: 420px;
  object-fit: cover;
}
.swp-inhanews-coop .swiper-slide .textbox{
  position: absolute;
  top: 0;
  right: 0px;
  width: 335px;
  height: 215px;
  padding: 50px 30px 40px 30px;
  font-weight: 200;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.0) 00%, rgba(255, 255, 255, 1) 15%);
}
.swp-inhanews-coop .swiper-slide .textbox *{
  display: block;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.8);
}
.swp-inhanews-coop .swiper-slide .textbox .textbox-tit{
  width: 275px;
  font-size: 2.2rem;
  font-weight: 400;
  white-space: nowrap;
  padding-bottom: 15px;
}
.swp-inhanews-coop .swiper-slide .textbox .textbox-content{
  height: 73px;
  font-size: 1.4rem;
  line-height: 1.8;
}

.inhanews-patent{
  display: flex;
  width: 480px;
  height: 260px;
  padding: 5px 5px;
  background: #51C4CB;
}
.inhanews-patent .textbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  text-align: center;
  color: white;
}
.inhanews-patent .textbox .icon-patent{
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: rgba(0, 0, 0, .1) url('../images/icon/icon_patent.png') no-repeat center;
  background-position-y: 18px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.inhanews-patent .textbox strong{
  font-size: 2.4rem;
  font-weight: 400;
  padding-bottom: 25px;
}
.inhanews-patent .textbox p{
  font-size: 1.6rem;
  font-weight: 200;
}
.inhanews-patent .patent-img img{
  width: 210px;
  height: 250px;
  object-fit: cover;
}

/* one-stop */
.onestop{
  position: relative;
  width: 100%;
  height: 895px;
  background: url('../images/main_service_bg.jpg') no-repeat center;
  background-size: cover;
}
/* onestop top */
.onestop-top .page-container{
  height: 415px;
  padding: 105px 0 90px 0;
}
.onestop-top .page-container > ul{
  display: flex;
  justify-content: space-between;
}
.onestop-top .page-container > ul > li > a{
  display: block;
  width: 265px;
  height: 220px;
  text-align: center;
  padding: 60px 90px 45px 90px;
  color: white;
  border: 1px solid rgba(0, 0, 0, .2);
  background: rgba(0, 0, 0, .5);
}
.onestop-top .page-container > ul > li > a:hover{
  background: rgba(0, 146, 221, .7);
  transition: background ease-out .2s;
}
.onestop-top .page-container > ul > li > a i{
  display: block;
  width: 85px;
  height: 80px;
}
.icon-onestop-main-1{
  background: url('../images/icon/icon-onestop/main_service_1_1.png') no-repeat center;
}
.icon-onestop-main-2{
  background: url('../images/icon/icon-onestop/main_service_1_2.png') no-repeat center;
}
.icon-onestop-main-3{
  background: url('../images/icon/icon-onestop/main_service_1_3.png') no-repeat center;
}
.icon-onestop-main-4{
  background: url('../images/icon/icon-onestop/main_service_1_4.png') no-repeat center;
}
.onestop-top .page-container > ul > li > a span{
  display: block;
  font-size: 2.2rem;
  font-weight: 200;
  padding-top: 20px;
}
/* onestop bottom */
.onestop-bottom{
  height: 480px;
}
.onestop-bottom-contents{
  position: relative;
  height: 420px;
  background: rgba(26, 165, 186, 0.85);
  margin-top: 60px;
}
/* onestop left */
.onestop-graduate-sch{
  position: absolute;
  top: -60px;
}
.onestop-graduate-sch .link-graduate-sch{
  position: relative;
  display: block;
  width: 300px;
  height: 450px;
  background: url('../images/main_service_2_bg.jpg') no-repeat center;
  background-position: 0 -0;
  background-size: 100%;
  box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, .2);
}
.onestop-graduate-sch .link-graduate-sch:hover{
  background-size: 110%;
  transition: background-size ease-out 1s;
}
.onestop-graduate-sch .link-graduate-sch:hover .tit-box{
  color: rgba(90, 228, 236, 1);
  transition: color .3s;
}
.onestop-graduate-sch .link-graduate-sch:hover .tit-box .button-more{
  border-color: rgba(90, 228, 236, 1);
  transition: border-color .3s;
}
.onestop-graduate-sch .tit-box{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px;
  padding: 40px 20px;
  text-align: right;
  color: rgba(255, 255, 255, 1);
  background: rgba(13, 131, 141, 1);
}
.onestop-graduate-sch .tit-box span{
  font-size: 4rem;
  font-weight: 400;
}
.onestop-graduate-sch .tit-box .button-more{
  position: absolute;
  right: 20px;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  border: 2px solid rgba(255, 255, 255, 1);
}
/* onestop right */
.onestop-right{
  position: absolute;
  right: 0;
  width: 855px;
  height: 100%;
}
.onestop-right >span{
  display: block;
  height: 75px;
  padding-top: 30px;
  font-size: 4.2rem;
  font-weight: 200;
  color: white;
}
.onestop-right .onestop-buttons{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 855px;
}
.onestop-right .onestop-buttons a{
  display: block;
  width: 140px;
  height: 155px;
  padding: 25px 20px 0 20px;
  font-size: 1.4rem;
  font-weight: 200;
  text-align: center;
  line-height: 1.2;
  color: white;
}
.onestop-right .onestop-buttons a:hover > i{
  transform: rotate3D(0, 1, 0, 1turn);
  transition: transform ease-in-out .7s;
}
.onestop-right .onestop-buttons a span{
  line-height: 1.2;
  word-break: keep-all;
}
.onestop-right .onestop-buttons a:hover > span{
  color: rgba(90, 228, 236, 1);
}
.onestop-right .onestop-buttons a i{
  display: block;
  height: 90px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-onestop-1{
  background: url('../images/icon/icon-onestop/main_service_3_1.png');
}
.icon-onestop-2{
  background: url('../images/icon/icon-onestop/main_service_3_2.png');
}
.icon-onestop-3{
  background: url('../images/icon/icon-onestop/main_service_3_3.png');
}
.icon-onestop-4{
  background: url('../images/icon/icon-onestop/main_service_3_4.png');
}
.icon-onestop-5{
  background: url('../images/icon/icon-onestop/main_service_3_5.png');
}
.icon-onestop-6{
  background: url('../images/icon/icon-onestop/main_service_3_6.png');
}
.icon-onestop-7{
  background: url('../images/icon/icon-onestop/main_service_3_7.png');
}
.icon-onestop-8{
  background: url('../images/icon/icon-onestop/main_service_3_8.png');
}
.icon-onestop-9{
  background: url('../images/icon/icon-onestop/main_service_3_9.png');
}
.icon-onestop-10{
  background: url('../images/icon/icon-onestop/main_service_3_10.png');
}
.icon-onestop-11{
  background: url('../images/icon/icon-onestop/main_service_3_11.png');
}
.icon-onestop-12{
  background: url('../images/icon/icon-onestop/main_service_3_12.png');
}
/* inha SNS */
.sns{
  position: relative;
}
.sns .page-container{
  height: 580px;
  background: white;
}
.sns-tit{
  display: flex;
  justify-content: space-between;
  height: 135px;
  padding: 45px 0 50px 0;
}
.sns-tit span{
  font-size: 3.6rem;
  font-weight: 200;
  color: #0092DD;
}
.sns-tit span > b{
  font-weight: 500;
  color: black;
}
.sns-box > span{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, .2);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.sns-f{
  background: url('../images/icon/footer_sns_FB.png');
}
.sns-tit .sns-f:hover{
  background: rgba(3, 39, 181, 1) url('../images/icon/footer_sns_FB_w.png') no-repeat center;
  background-size: 20%;
  border: none;
  transition: all ease-in .3s;
}
.sns-b{
  background: url('../images/icon/footer_sns_B.png');
}
.sns-tit .sns-b:hover{
  background: rgb(63, 200, 106) url('../images/icon/footer_sns_B_w.png') no-repeat center;
  background-size: 30%;
  border: none;
  transition: all ease-in .3s;
}
.sns-y{
  background: url('../images/icon/footer_sns_YT.png');
}
.sns-tit .sns-y:hover{
  background: rgb(247, 73, 73) url('../images/icon/footer_sns_YT_w.png') no-repeat center;
  background-size: 55%;
  border: none;
  transition: all ease-in .3s;
}
.sns-i{
  background: url('../images/icon/footer_sns_IG.png');
}
.sns-tit .sns-i:hover{
  background: #fff url('../images/icon/footer_sns_IG_w.png') no-repeat center;
  background-size: 90%;
  border: none;
  transition: background .3s;
}
.sns-content ol{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 345px;
}
.sns-content ol li > a{
  position: relative;
  display: block;
  width: 285px;
  height: 345px;
}
.sns-content ol li > a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  width: 97%;
  height: 97%;
  border: 1px solid rgba(0, 146, 221, 0);
}
.sns-content ol li > a::after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 45px;
  height: 45px;
  background: #0092DD url('../images/icon/plus_2.png') no-repeat center;
  transform: scale(0, 0);
  transform-origin: center;
}
.sns-content ol li> a:hover::after{
  transform: scale(1, 1);
  transition: all .3s;
}
.sns-content ol li> a:hover::before{
  border: 6px solid #0092DD;
  transition: border 0.1s;
}
.sns-content ol li > a img{
  width: 285px;
  height: 250px;
  object-fit: cover;
}
.sns-content ol li > a .style-p{
  height: 95px;
  padding: 10px 20px;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, .8);
}
.style-p span{
  display: block;
}
.style-p .tit{
  height: 45px;
  margin-bottom: 10px;
  font-size: 1.6rem;
  line-height: 1.4;
}
.style-p .date{
  font-weight: 100;
}

/* footer */
.footer{
  position: relative;
  width: 100%;
}
/* footer sitemap */
.site-map{
  width: 100%;
  text-align: center;
  background: rgba(67, 71, 83, 1);
}
.button-site-map{
  display: block;
  width: 100%;
  padding: 1.5rem 0;
  font-size: 1.6rem;
  font-style: normal;
  letter-spacing: .5px;
  color: rgba(255, 255, 255, .7);
  background: rgba(41, 46, 62, 1);
  cursor: pointer;
}
.button-site-map b{
  color: rgba(61, 203, 234, 1);
}
.button-site-map-active{
  transform: rotate(0.5turn);
}
.site-map .page-container{
  display: flex;
  justify-content: space-between;
  height: 51rem;
  padding: 2em 0;
}
.site-map .page-container > div{
  width: 30%;
  text-align: left;
}
.site-map .page-container > div > span{
  display: block;
  width: 100%;
  padding: .8em 1em;
  font-size: 1.6rem;
  font-weight: 100;
  color: rgba(255, 255, 255, .9);
  border: .5px solid rgba(255, 255, 255, .2);
}
.site-map .page-container > div > ul{
  padding: 1em 0;
  margin-left: 1em;
  column-count: 2;
}
.site-map .page-container > div > ul > li{
  padding: .3em 0;
  list-style: disc;
  list-style-position: inside;
}
.site-map .page-container > div > ul > li::marker{
  font-size: 1rem;
  color: rgba(255, 255, 255, .85);
}
.site-map .page-container > div > ul > li a{
  color: rgba(255, 255, 255, .8);
}
/* footer bottom */
.footer-bottom{
  background: rgba(41, 46, 62, 1);
}
.inha-site{
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.inha-site > ul > li{
  position: relative;
  display: inline-block;
  padding: 1.5em 1.5em;
}
.inha-site > ul > li:first-child::after{
  display: none;
}
.inha-site > ul > li::after{
  content: '';
  position: absolute;
  top: 30%;
  left: 0;
  display: block;
  width: 1px;
  height: 40%;
  background: rgba(255, 255, 255, .2);
}
.inha-site > ul > li > a{
  color: rgba(255, 255, 255, .5);
}
.inha-site > ul > li > a strong{
  color: rgba(61, 203, 234, 1);
}
.inha-info{
  position: relative;
  display: flex;
  justify-content: space-between;
}
.f-logo{
  display: block;
  width: 20rem;
  height: 10rem;
  background: url('../images/footer_logo.png') no-repeat center;
}
.inha-info-box{
  width: 80%;
  height: 14rem;
  padding: 3em 0;
  padding: 3em 0 3em 2em;
}
address{
  display: inline-block;
  width: 70%;
  font-style: normal;
  font-weight: 100;
  color: rgba(255, 255, 255, .5);
}
.contact > *{
  padding: .5em 0;
}
.contact dt{
  float: left;
}
.contact dl:nth-child(2){
  float: left;
}
.contact dl:nth-child(4){
  float: left;
}
.copy{
  display: block;
  padding-top: 1em;
}
.inha-info-box .sns-box{
  display: inline-block;
  vertical-align: top;
}
.inha-info-box .sns-box span{
  border: .5px solid rgba(255, 255, 255, .3);
}
.inha-info-box .sns-box > span:hover{
  border: .5px solid rgba(255, 255, 255, .8);
  transition: border .3s;
}